.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-image: url('./images/bike80.jpg');
 background-size: cover;
 height: 400px;
}
.hero h2 {
  font-size: 75px;
  color: white;
  margin-top:-60px;
  margin-bottom: -20px;
}

.hero h6 {
  font-size: 14px;
  color: white;
}
.selections {
  display: flex;
  flex-direction: row;
  font-size:30px;
  font-weight:400;
  color:white;
  font-weight: 300;
  margin-top: 80px;
  text-align:center;
}

.selections select {
  width: 150px;
  font-size: 16px;
  margin: 15px;
}

.hero button {
  margin-top: 60px;
  font-size: 18px;
  border-radius: 4px;
}

@media(max-width: 850px){
  .hero h2 {
    font-size: 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: -20px;
  }
  .selections {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .selections select {
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin: 5px;
  }
}
